*{
  margin:0;
  padding:0;
  box-sizing: border-box;

}
.form-box{
  display: flex;
  justify-content: center;
  margin-top: 316px;
}
.form{
  border: 1px solid rgb(182, 181, 181);
  width: 400px;
  height: 250px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  
}
h2{
  margin-left:10px;
  margin-top:10px;
}
.Uname,.Upassword{
  display:flex;
justify-content: space-around; 
align-items: center;
row-gap: 100px; 
margin-bottom: 50px;
}
label{
  font-size: medium;
  font-weight: bold;
  color: rgb(234, 69, 96);
}
input{
  width: 250px;
  height: 50px;
  border: 1px solid greenyellow;
  outline:none;
  font-size: 1em;
  font-weight: 300;
}
